{% if response == error %}
    <div>
        {{ error_message }}
    </div>
{% else %}
    <div class="results_query">
        Results for: <strong>{{ query }}</strong>
    </div>
    <div class="results_container">
    {% for photo in response %}
        <div class="photo">
            <div>
                Description: {{ photo.text }}
            </div>
            <div>
                From user: {{ photo.from_user }}
            </div>
            <div>
                <img src="{{ photo.thumbnail }}">
            </div>
            <div>
                Created: {{ photo.created_time }}
            </div>
        </div>
    {% endfor %}
    </div>
{% endif %}